<html>
<title>File Error Page</title>
<body>
<b>When file is processed, System encountered an error!</b>
<br>
<p>Requirments:</p>
<br>
<ol>
    <li>File which you try to load should have "zip" extention</li>
    <li>Zipped file contains three files which are named as data.txt, header.txt, and vendor.txt</li>
    <li>Each of content files should have separator as tab delimiter</li>
    <li>Main data in the data.txt file should not contain any duplicate column</li>
</ol>
<br>
<a href="/">Return file upload page</a>
</body>
</html>